<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Welcome to the FWI Prediction App</h1>
        <p> This project is an end-to-end machine learning web application that predicts the Fire Weather Index (FWI) using meteorological and environmental data.</p>
        <p> This project demonstrates the complete ML workflow from data preprocessing and model selection to deployment in a cloud environment. </p>
        <p>Click below to enter data and predict FWI </p>
        <a href="{{ url_for('home') }}" class="btn btn-primary btn-lg">Go to Prediction Page</a>
    </div>
</body>
</html>
